.introduction-container {
    display: flex;
    justify-content: center;
    text-align: left;
    height: 39.0625rem;
}

.introduction-container .introduction-container-div {
    width: 67.5rem;
    height: 100%;
}

.introduction-container .introduction-container-div .introduction-text {
    background: none;
    position: absolute;
    top: 13rem;
    z-index: 999;
}

.introduction-container .introduction-container-div .introduction-text h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.8125rem;
    text-transform: uppercase;
    
    color: #00D2DF;
    background: none;
}

.introduction-text .buttons {
    display: flex;
    position: relative;
    top: 3.75rem;
    background: none;
}

.introduction-text .buttons .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1.5rem;
    
    opacity: 0.3;
    transition: 0.5s;
}

.introduction-text .buttons .btn #svg {
    margin-right: 1rem;
    background: none;
}

.introduction-text .buttons .btn h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1875rem;
    
    color: #FFFFFF;
    background: none;
}

.introduction-text .buttons .btn:hover {
    cursor: pointer;
    opacity: 1;
}